<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BattleKart Blog{% endblock %}</title>
        <link rel="icon" href="images/BattleKartLogo.png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include 'Menu/head.html.twig' %}
        {% include 'Menu/menu.html.twig' %}
        {% block body %}{% endblock %}
        
    </body>
</html>
