{% include 'base.html.twig' %}

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="fr">

<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Bienvenue sur le blog de <br> BATTLE KART</h1>
					<p class="animated fadeInUp">Partagez vos aventures en karting et faites-nous vivre vos émotions !</br> Racontez-nous votre expérience sur la piste.</p>
					<a href="{{path('app_article_index')}}" class="btn btn-main animated fadeInUp" >RÉDIGER UN ARTICLE</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>A propos</h2>
						<p>BattleKart, c’est l’alliance parfaite du karting électrique, du jeu vidéo et de la réalité augmentée. Un cocktail unique pour te procurer des sensations inédites ! Plein gaz à bord d’un kart électrique, évolue sur une piste où différents circuits, bonus et modes de jeu sont projetés au sol, interagis avec le décor et les autres joueurs pour remporter la partie…</p>
					</div>
					<p>Explorez les histoires, les aventures et les sensations de nos pilotes intrépides dans notre tout nouveau blog BattleKart. Ici, vous pouvez partager vos expériences, moments forts et les émotions ressenties que vous coureurs passionnés ressentez !</p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5">
				<div class="block">
					<img src="images/BKabout.png" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>

<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2 class="mb-3"></h2>
					<p></p>
					<a class="btn btn-main btn-solid-border" href="{{path('driver_quiz')}}">Quel pilote de F1 es-tu ?</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>OÙ JOUER À BATTLEKART?</h2>
      </div>
    </div>
  </div>
    <iframe src="https://www.battlekart.com/locator/?lang=fr" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2 class="mb-3"></h2>
					<p></p>
					<a class="btn btn-main btn-solid-border" href="{{ path('article_new') }}">RACONTEZ-NOUS VOTRE ÉXPERIENCE !</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>BATTLEKART</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="counter-item">
                <ion-icon name="earth-outline"></ion-icon>
                <h4 class="count" data-count="32">0</h4>
                <span>CENTRES DANS LE MONDE</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <ion-icon name="home-outline"></ion-icon>
                <h4 class="count" data-count="9">0</h4>
                <span>CENTRES EN FRANCE</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <ion-icon name="game-controller-outline"></ion-icon>
                <h4 class="count" data-count="6">0</h4>
                <span>MODES DE JEU</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <ion-icon name="people-circle-outline"></ion-icon>
                <h4 class="count" data-count="12">0</h4>
                <span>Coureurs Max</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
                  {{ render(controller('App\\Controller\\ArticleController::recentArticles')) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer Start -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact us</a></li>
						<li><a href="service.html">How it works</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="pricing.html">Pricing</a></li>
					</ul>
				</div>
				<p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed by <a>
						href="http://www.themefisher.com">Themefisher</a>. All rights reserved.
					<br> Get More <a href="https://themefisher.com/free-bootstrap-templates/">Free Bootstrap
						Templates</a>
				</p>
			</div>
		</div>
	</div>

</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
        <span class="icon ion-ios-arrow-up"></span>
    </div>

    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- filter -->
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="plugins/google-map/map.js"></script>
    <script src="js/script.js"></script>
    </body>
    </html>
   
