{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container">
    <h1>Oups! Page non trouvée.</h1>
    <p>La page que vous cherchez semble introuvable.</p>
    <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>
</div>
{% endblock %}
